backend/node_modules
.env

# Hardhat files
backend//cache
backend//artifacts

# TypeChain files
backend//typechain
backend//typechain-types

# solidity-coverage files
backend//coverage
backend//coverage.json

# Hardhat Ignition default folder for deployments against a local node
backend/ignition/deployments/
backend/circuits/outputs
backend/circuits/keys
backend/powersofTau
backend/.env
backend/cache
backend/artifacts

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
